* {
    margin: 0px;
    border-width: 0px;
}
body {
    background-color: #34a0a4;
    text-align: center;
}

h1{
    font-size:100px;
    text-decoration: underline;
}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    
}

.boxes {
    
    height: 19vmin;
    width: 19vmin;
    border-radius:1rem;
    border: solid;
    font-size: 9vmin;
    background-color: beige;
    color: black;
    
}

.reset{
    font-size: 29px;
    background-color: black;
    padding: 1rem;
    color: blanchedalmond;
    border-radius: 1rem;
    border: none;

}

.newgame{
   font-size: 29px;
    background-color: black;
    padding: 1rem;
    color: blanchedalmond;
    border-radius: 1rem;
    border: none; 
}

.hide {
    display: none;
}

#msg{
    color: palegoldenrod;
    font-size: 5rem;
}